{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block head %}{% endblock %}
        <title>Minecraft admin panel</title>
    </head>
    <body>
        <nav>
            <h1>Minecraft admin panel</h1>

            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
            {% endif %}
        </nav>
        <div class="main-wrapper">
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>
