{% extends "base.html" %}
{% load cache_fix %}

{% block head %}
<link rel="stylesheet" href="{% no_cache_static 'panel/server-panel.css' %}">
{{ server.id|json_script:"server-id" }}
<script type="module" src="{% no_cache_static 'panel/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-name">
        <h2>{{ server.name }}</h2>
    </div>
    <div>
        <mcsmp-server-status />
    </div>
    <div>
        <tab-menu
            tabs="Logs,Players,Server Settings,Game Rules"
            shown="Logs"
        />
    </div>
    <div>
        <tab-pane name="Logs">
            <mcsmp-logs />
        </tab-pane>
    </div>
</div>
{% endblock %}
