
h1 {
    margin: 0;
    font-size: 1.5em;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200ch;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error {
    color: red;
}
